#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.detailedInfo {
  background-color: cyan;
}
.add {
  background-color: blue;
}
.nTable {
  background-color: grey;
}